

<div class="container text-center">
  <h1>new page</h1>
  <div class="row">
  <% @letters.each do |letter| %>
    <div class="col">
    <h2> <%= letter %> </h2>
    </div>
  <% end %>
  </div>


  <form action="/score" method="POST" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name="word" placeholder="Make a word">
    <input type="submit">
  </form>
</div>
